
#body {
 position: absolute;
 top: 95px;
 left: 65px;
 /* change width to fix Chrome display bugs & use script to load the right file */
 width: 510px;
 padding: 0px;
 border: 0px none;
 margin: 0px;
}